# Object files
#*.o
#*.obj

# Libraries
#*.lib
#*.a

# Shared objects (inc. Windows DLLs)
#*.dll
#*.so
#*.so.*
#*.dylib

# Executables
*.exe
*.out
*.app

# Clion
.idea/*
EQEmu.cbp

# CMake
cmake-build-debug/
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
Build/
build/
Build32/
build32/
Build64/
build64/
Build_32/
build_32/
Build_64/
build_64/
log/
logs/
!libcryptopp.a
!libEQEmuAuthCrypto.a
bin/*

# VisualStudio files

*.sln
*.vcxproj*
.vs/

libs/format/FMT.cbp
libs/libuv/libuv.cbp
